<div> Spawn Dinosaurs </div>

<%= form_tag spawn_dinosaurs_path do %>
   <div>
     <%= text_field_tag 'dino[][name]','Denise' %>
     <%= text_field_tag 'dino[][species_id]','4' %>
     <%= text_field_tag 'dino[][name]','Tyran' %>
     <%= text_field_tag 'dino[][species_id]','1' %>
     <%= text_field_tag 'dino[][name]','Quentin' %>
     <%= text_field_tag 'dino[][species_id]','2' %>

   </div>
   <%= submit_tag("Spawn Dinos Now") %>
<% end %>
